{{page-title "Books"}}

<h2 class="mt-3">Current books</h2>

<ul class="list-group">
  {{#each this.model as |book|}}
    <li class="list-group-item">
      {{!--<button type="button" class="" {{on "click" (fn this.removeBook book)}}>[X]</button>--}}
      <BsButton @type="danger" @onClick={{action (fn this.removeBook book)}} class="mr-2">X</BsButton>
      {{book.title}}
    </li>
  {{/each}}
</ul>

<h2 class="mt-3">Add new</h2>

<BookEntry @onSubmit={{fn this.createBook}} @book={{this.bookEntry}}>
  <div class="">
  </div>
</BookEntry>

<Refresh @onRefresh={{this.refresh}} />

{{outlet}}
