{{page-title "File upload"}}

<h2 class="mt-3">Current files</h2>

<ul class="list-group">
  {{#each this.model as |file|}}
    <li class="list-group-item">
      {{!--<button type="button" class="" {{on "click" (fn this.removeFile file)}}>[X]</button>--}}
      <BsButton @type="danger" @onClick={{action (fn this.removeFile file)}} class="mr-2">X</BsButton>
      {{file.name}}
    </li>
  {{/each}}
</ul>

<h2 class="mt-3">Upload new</h2>

<FileUpload @name="file" @accept="*/*" @onFileAdd={{action this.fileAdd}} as | queue |>
  <a class="btn btn-primary">
    {{#if queue.files.length}}
      Uploading...
    {{else}}
      Upload file
    {{/if}}
  </a>
</FileUpload>

<Refresh @onRefresh={{this.refresh}} />

{{outlet}}
